{% extends 'login_page/layout.html' %}

{% block content %}

<h1 style="margin-top: 10px; margin-bottom: 10px;">History of Mongkol</h1>


  <div class="row">
    <div class="col">
      <img src= "https://lh5.googleusercontent.com/p/AF1QipNp-4hornoLA3i4b577Lpf3cvGkb7ZyB4BO_KgA=w1080-k-no" width="600 " height="400 " >
    </div>
    <div class="col">
        {% lorem 3 p %}
    </div>
    
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
        {% lorem 3 p %}
    </div>
    <div class="col">
        <img src= "https://upload.wikimedia.org/wikipedia/commons/4/4a/Faculty_of_Science%2C_Silpakorn_University.jpg" width="600 " height="350 " >
    </div>
    
  </div>

{% endblock  %}